<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335998453473-lvkoacmvabb3sg268j7n6kvv50o8g3o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335998453473-lvkoacmvabb3sg268j7n6kvv50o8g3o2</string>
	<key>API_KEY</key>
	<string>AIzaSyBF_t5RM4hesw254YEzCcukP0Vw8XPJRYA</string>
	<key>GCM_SENDER_ID</key>
	<string>335998453473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leykwanchoo.CurrencyCamera</string>
	<key>PROJECT_ID</key>
	<string>react-native-currency-77e25</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-currency-77e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335998453473:ios:f4316d921e32fa635559a0</string>
</dict>
</plist>